body{
  background-color: rgb(245, 246, 249);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;
}

h6 {
  font-weight: 400;
  font-size: medium;
  font-family: "Roboto", sans-serif;
  margin: 0px;
}
p {
  font-weight: 100;
  font-family: "Roboto", sans-serif;
}

.tmplt{
  width: 130vh;
  display: flex;
  align-items: center;
  background-color:rgb(255, 255, 255);
  padding: 30px;
  border-top: 2px solid rgb(237, 237, 237);
  border-left: 2px solid rgb(237, 237, 237);
  border-right: 2px solid rgb(237, 237, 237);
}

.mailbottom {
  border-bottom: 2px solid rgb(237, 237, 237);
}

.avatar {
  height: 140px;
}

.bin {
  width: 20px;
}

.bin:hover{
  width: 25px;
  padding: 4px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.message {
  margin: 50px;
  /* padding: 0px 100px 0px 60px; */
  width: 40px;
}

.blue{
  color: rgb(106, 137, 186);
}

.newtxt{
  justify-content: space-around;
}

.message{
  width: 850px;
}
input{
  width: 100vh;
  height: 3vh;
  padding: 5px;
}
button{
  color: #23abba;
  background-color: white;
  padding: 1vh 2vh;
  border: 1px solid #23abba;
  border-radius: 20%;
  font-size: 1rem;
}
button:hover{
  background-color: #23abba ;
  color: white;
  cursor: pointer;
}
button:focus{
  outline: 0;
}